NODE_ENV=development
PORT=3002

PUBLIC_BASE_AUTH_URL=http://localhost:5001
PUBLIC_BASE_AUTH_PATH='/'

RAILPACK_BUILD_CMD=bun install --frozen-lockfile && bun build:app:watchlist
RAILPACK_START_CMD=cd apps/watchlist && bun run start

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

BETTER_AUTH_SECRET=
