NODE_ENV=development
PORT=3002

PUBLIC_BASE_AUTH_URL=http://localhost:5001
PUBLIC_BASE_AUTH_PATH='/'

RAILPACK_BUILD_CMD=bun install --frozen-lockfile && bun build:app:watchlist
RAILPACK_START_CMD=cd apps/watchlist && bun run start

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:5001

BETTER_AUTH_PATH='/'

BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5001,http://localhost:3002

BETTER_AUTH_COOKIE_DOMAIN=localhost

RESEND_API_KEY=

RESEND_FROM_EMAIL=noreply@z0xm.com
